@page "/galeriaLibro/{idPagina}"
@using MiPrimeraAplicacionBlazor.Shared
@inject HttpClient http
@inject IJSRuntime ijsRuntime
<h3>Galeria Libros</h3>


@if (listaLibro == null)//Tenemos que hacer esto porque si no se cae, la listaLibro aun no la tiene, por eso esperamos a que haga la llamada y tenga la lista recuperada
{
    <h3>Cargando...</h3>
}
else
{

    <AuthorizeView>
        <Authorized>
            <FormularioGaleria eventoBusqueda="Busqueda" />
            <div class="row">
                <LibrosGaleria listaLibro="listaLibro" verDescargar=true verReservar=false/>
            </div>
        </Authorized>
    </AuthorizeView>

}



@code {

    [Parameter]
    public string idPagina { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> auth { get; set; }

    public LibroCLS[] listaLibro;

    protected override async Task OnInitializedAsync()
    {
        var authUser = await auth;
        var user = authUser.User;

        if (user.Identity.IsAuthenticated)
        {
            listaLibro = await http.GetFromJsonAsync<LibroCLS[]>("api/Libro/ListarLibroCompleto");
        }
    }

    public async Task Busqueda(string valor)
    {
        listaLibro = await http.GetFromJsonAsync<LibroCLS[]>("api/Libro/FiltrarLibroNombre/" + valor);
    }
}